:root {
	--backgroundcolor: #EEEEEE;
	--basic-black: #000000;
	--button-text: #FFFFFF;
	--button-red: #FB565A;
	--button-green: #00CA74;
	--button-yellow: #EFC849;
	--grid-color: #283136;
	--navlist-color: #FB565A;
}

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


.main-header {
	background-color: var(--backgroundcolor);
}


.main-navigation-list, .main-navigation-basket {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;	
	color: var(--basic-black);
	list-style: none;
}

.main-navigation-list :hover {
	color: var(--navlist-color);
}


.main-navigation-basket :hover {
	color: var(--navlist-color);
} 

.main-title-text {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.main-title-button {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--button-text);
	background-color: var(--button-red);
	width: 240px;
	height: 50px;
	border-radius: 3px;
	text-transform: uppercase;
}

.web-title, .app-title, .present-title {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.web-button, .app-button, .present-button {
	width: 160px;
	height: 50px;
	border-radius: 3px;
	color: var(--button-text);
	text-transform: uppercase;
}

.web-button {	
	background: var(--navlist-color);	
}

.app-button {	
	background: var(--button-green);	
}

.present-button {
	background: var(--button-yellow);
}

.about-description__weare {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.about-subtitle {
	text-transform: uppercase;
	font-weight: bold;
}

.order {
	list-style: none;
	color: #283136;
}

.accuracy-subtitle {
	text-transform: uppercase;
	font-weight: bold;
}

.about-stats p {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
}

.procent1, .procent2, .procent3 {
	font-weight: bold;
	font-size: 26px;
	line-height: 40px;
}

.writeus-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.writeus-title {
	font-size: 16px;
	line-height: 18px;
}

.writeus-button {
	width: 219px;
	height: 50px;
	background: #FB565A;
	border-radius: 3px;
	text-transform: uppercase;
	color: var(--button-text);
}

.letfriend {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
}

.footer-socialwriteus-title-list {
	list-style: none;
}

.footer-discount {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}

/* inner page */

.inner-header {
	background: var(--backgroundcolor-header);
}

.inner-navigation-list, .inner-navigation-basket {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;	
	color: var(--basic-black);
	list-style: none;
}

.price-title, .grid-title, .feature-title, .sort-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.grid p {
	font-size: 16px;
	line-height: 19px;
	color: var(--grid-color);
}

.feature p {
	font-size: 16px;
	line-height: 19px;
	color: var(--grid-color);
}

.buttonshow {
	color: var(--backgroundcolor);
	width: 260px;
	height: 50px;
	border-radius: 3px;
}

.btntextshow {
	color: var(--basic-black);
}

.sort-list {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	list-style: none;
}

.pagination-list {
	text-transform: uppercase;
	color: var(--basic-black);
	list-style: none;
}