:root {
	--backgroundcolor: #eeeeee;
	--basic-black: #000000;
	--button-text: #ffffff;
	--button-red: #fb565a;
	--button-green: #00ca74;
	--button-yellow: #efc849;
	--grid-color: #283136;
	--navlist-color: #fb565a;
	--footerdiscount-color: #444444;
	--circlebackground-color: #E1E1E1;
}

body {
	min-width: 1160px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.header-wrap {
	background-color: var(--backgroundcolor);
}

.header-content {
	width: 1120px;
	margin: 0 auto;
}

.wrapper {
	width: 1160px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.main-navigation-list__item {
	display: inline-block;
	padding: 30px;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.main-navigation-logo {
	padding-top: 49px;
}

.buttonmore {
	padding: 40px 0;
}

.main-navigation-list {
	padding-top: 65px;
}

.main-navigation-basket {
	margin-top: 65px;
}

.basketlogo {
	margin-right: 20px;
}

.main-navigation-list a,
.main-navigation-basket {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
	list-style: none;
}

.container {
	width: 1160px;
	display: flex;
}

.main-title {
	display: flex;
	flex-direction: row;
}

.main-navigation-list :hover {
	color: var(--navlist-color);
}

.main-navigation-basket :hover {
	color: var(--navlist-color);
}

.main-title-text {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.main-title-button {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--button-text);
	background-color: var(--button-red);
	width: 240px;
	height: 50px;
	border-radius: 3px;
	text-transform: uppercase;
}

.services {
	width: 1140px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 70px 0;
}

.web-title,
.app-title,
.present-title {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.web-button,
.app-button,
.present-button {
	width: 160px;
	height: 50px;
	border-radius: 3px;
	color: var(--button-text);
	text-transform: uppercase;
}

.web-button {
	background: var(--navlist-color);
}

.app-button {
	background: var(--button-green);
}

.present-button {
	background: var(--button-yellow);
}

.about-description-weare {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.about-subtitle {
	text-transform: uppercase;
	font-weight: bold;
}

.order {
	list-style: none;
	color: var(--grid-color);
}

.accuracy-subtitle {
	text-transform: uppercase;
	font-weight: bold;
}

.about {
	width: 1157px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.procent-text {
	font-size: 16px;
	line-height: 18px;
	color: var(--grid-color);
}

.stats-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.about-stats p {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
}

.procent1,
.procent2,
.procent3 {
	font-weight: bold;
	font-size: 26px;
	line-height: 40px;
}

.customer-content {
	width: 1157px;
	margin: 0 auto;
}

.customers-logo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 100px;
}

.map {
	padding-top: 150px;
	
}

.writeus-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.writeus-title {
	font-size: 16px;
	line-height: 18px;
}

.writeus-button {
	width: 219px;
	height: 50px;
	background: var(--navlist-color);
	border-radius: 3px;
	text-transform: uppercase;
	color: var(--button-text);
}

.letfriend {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
}

.letfriend-content {
	margin-right: 150px;
}

.footer {
	width: 1140px;
	margin: 0 auto;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-social {
	margin-top: 30px;	
}

.footer-social-list li {
	list-style: none;	
	display: inline;
}

.circle {
	width: 81px;
	height: 81px;
	border-radius: 50%;
	background-color: var(--circlebackground-color);
	display: inline;
	margin-left: 10px;
}


.footer-letfriend-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
}

.footer-discount {
	font-size: 16px;
	line-height: 22px;
	color: var(--footerdiscount-color);	
}

/* inner page */

.main-header {
	background: var(--backgroundcolor-header);
}

.main-navigation-list,
.main-navigation-basket {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
	list-style: none;
}

.main-title-text {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	margin-left: auto;
	margin-right: auto;
}



.price-title,
.grid-title,
.feature-title,
.sort-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.grid p {
	font-size: 16px;
	line-height: 19px;
	color: var(--grid-color);
}

.feature p {
	font-size: 16px;
	line-height: 19px;
	color: var(--grid-color);
}

.buttonshow {
	color: var(--backgroundcolor);
	width: 260px;
	height: 50px;
	border-radius: 3px;
}

.btntextshow {
	color: var(--basic-black);
}

.sort-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;
}

.sort-list {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.sort-list__item {
	display: inline-block;
	padding: 20px;
	padding-top: 10px;
}

.sort-list__item a {
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.examples-img {
	padding-top: 20px;
	
}


.examples {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-left: 80px;
}



.pagination-list {
	text-transform: uppercase;
	color: var(--basic-black);
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-left: 320px;
}

.pagination-list a {
	padding: 10px;
	color: var(--basic-black);
}

.modalframe h2 {
	font-size: 45px;
	line-height: 52.73px;
	font-weight: 700;
}

.modalbutton {
	background-color: var(--navlist-color);
	width: 259px;
	height: 50px;
	border-radius: 3px;
	color: var(--button-text);
	display: block;
}
